[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part3/ch2/ch2_anova.ipynb)

# 1. 일원 분산 분석

### 1. 기본학습

In [2]:
import pandas as pd
df = pd.DataFrame({
    'A': [10.5, 11.3, 10.8, 9.6, 11.1, 10.2, 10.9, 11.4, 10.5, 10.3],
    'B': [11.9, 12.4, 12.1, 13.2, 12.5, 11.8, 12.2, 12.9, 12.4, 12.3],
    'C': [11.2, 11.7, 11.6, 10.9, 11.3, 11.1, 10.8, 11.5, 11.4, 11.0],
    'D': [9.8, 9.4, 9.1, 9.5, 9.6, 9.9, 9.2, 9.7, 9.3, 9.4]
})
print(df.head(2))

      A     B     C    D
0  10.5  11.9  11.2  9.8
1  11.3  12.4  11.7  9.4

In [6]:
import pandas as pd
df = pd.DataFrame({
    'A': [10.5, 11.3, 10.8, 9.6, 11.1, 10.2, 10.9, 11.4, 10.5, 10.3],
    'B': [11.9, 12.4, 12.1, 13.2, 12.5, 11.8, 12.2, 12.9, 12.4, 12.3],
    'C': [11.2, 11.7, 11.6, 10.9, 11.3, 11.1, 10.8, 11.5, 11.4, 11.0],
    'D': [9.8, 9.4, 9.1, 9.5, 9.6, 9.9, 9.2, 9.7, 9.3, 9.4]
})
print(df.head(2))
# 주어진 데이터는 4종류의 비료를 사용한 식물의 성장에 대한 실험 결과다.
# 이 실험에서는 비슷한 조건의 식물 40개를 무작위로 10개씩 나누고 화학 비료 A, B, C, D를 일정 기간 사용한 후 성장량을 측정했다.
# 성장의 차이가 있는지 유의수준 0.05하에서 검정하시오

# 귀무가설: 네 가지 비료의 효과는 동일하다
# 대립가설: 비료의 효과에는 차이가 있다.

# 1. 정규성 검정 -> 등분산성 검정
from scipy import stats

# 정규성 shapiro
print(stats.shapiro(df['A']))
print(stats.shapiro(df['B']))
print(stats.shapiro(df['C']))
print(stats.shapiro(df['D']))
# 0.05보다 크니 정규성 만족 -> 등분산성 levene
print(stats.levene(df['A'],df['B'],df['C'],df['D']))
# 0.05보다 크니 등분산성 만족

# 일원 분산분석
print(stats.f_oneway(df['A'],df['B'],df['C'],df['D']))
# 0.05보다 작으니 대립가설 채택 -> 차이가 있다!

## 정규성, 등분산 만족하지 않는 케이스는 안다룬다 -> 시험에서 안나온다 -> 그럼 그냥 할필요없다 -> f_oneway만 보면 된다?

ShapiroResult(statistic=0.9649054066073813, pvalue=0.8400161543468654)
ShapiroResult(statistic=0.9468040874196029, pvalue=0.6308700692815115)
ShapiroResult(statistic=0.9701646110856055, pvalue=0.892367306190296)
ShapiroResult(statistic=0.9752339025839644, pvalue=0.9346854448707653)
LeveneResult(statistic=1.9355354288758708, pvalue=0.14127835331346628)
F_onewayResult(statistic=89.12613851177174, pvalue=1.0018381522523723e-16)

In [2]:
from scipy import stats

print("=== 정규성 검정 ===")
print(stats.shapiro(df['A']))
print(stats.shapiro(df['B']))
print(stats.shapiro(df['C']))
print(stats.shapiro(df['D']))

print("\n === 등분산 검정 ===")
print(stats.levene(df['A'], df['B'], df['C'], df['D']))

print("\n === 일원 분산 분석 ===")
print(stats.f_oneway(df['A'], df['B'], df['C'], df['D']))

=== 정규성 검정 ===
ShapiroResult(statistic=0.9649054066073813, pvalue=0.8400161543468654)
ShapiroResult(statistic=0.9468040874196029, pvalue=0.6308700692815115)
ShapiroResult(statistic=0.9701646110856055, pvalue=0.892367306190296)
ShapiroResult(statistic=0.9752339025839644, pvalue=0.9346854448707653)

 === 등분산 검정 ===
LeveneResult(statistic=1.9355354288758708, pvalue=0.14127835331346628)

 === 일원 분산 분석 ===
F_onewayResult(statistic=89.12613851177174, pvalue=1.001838152252373e-16)

In [3]:
import pandas as pd
# df = pd.read_csv("fertilizer.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part3/ch2/fertilizer.csv")
df

   비료    성장
0   A  10.5
1   A  11.3
2   A  10.8
3   A   9.6
4   A  11.1
5   A  10.2
6   A  10.9
7   A  11.4
8   A  10.5
9   A  10.3
10  B  11.9
11  B  12.4
12  B  12.1
13  B  13.2
14  B  12.5
15  B  11.8
16  B  12.2
17  B  12.9
18  B  12.4
19  B  12.3
20  C  11.2
21  C  11.7
22  C  11.6
23  C  10.9
24  C  11.3
25  C  11.1
26  C  10.8
27  C  11.5
28  C  11.4
29  C  11.0
30  D   9.8
31  D   9.4
32  D   9.1
33  D   9.5
34  D   9.6
35  D   9.9
36  D   9.2
37  D   9.7
38  D   9.3
39  D   9.4

In [7]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('성장 ~ C(비료)',df).fit()
anova_lm(model)

            df    sum_sq    mean_sq          F        PR(>F)
C(비료)      3.0  43.21875  14.406250  89.126139  1.001838e-16
Residual  36.0   5.81900   0.161639        NaN           NaN

In [2]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('성장 ~ C(비료)', df).fit()
print(anova_lm(model))

            df    sum_sq    mean_sq          F        PR(>F)
C(비료)      3.0  43.21875  14.406250  89.126139  1.001838e-16
Residual  36.0   5.81900   0.161639        NaN           NaN

# 이원 분산 분석

In [8]:
# 데이터는 네 가지 종류의 나무에 대해 세 가지 종류의 비료를 사용해 성장률을 조사한 결과다.
# 비료 간 및 나무 종류 간의 성장률 차이가 있는지 유의수준 0.05하에서 검정하시오

import pandas as pd
# df = pd.read_csv("tree.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part3/ch2/tree.csv")

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model = ols('성장률 ~ 나무 + 비료 + 나무:비료',df).fit()
print(anova_lm(model))

             df       sum_sq      mean_sq          F        PR(>F)
나무          3.0  4783.353938  1594.451313  18.391274  9.016693e-10
비료          1.0   873.322002   873.322002  10.073374  1.942421e-03
나무:비료       3.0   394.801585   131.600528   1.517952  2.137666e-01
Residual  112.0  9709.960792    86.696078        NaN           NaN

In [9]:
import pandas as pd
# df = pd.read_csv("tree.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part3/ch2/tree.csv")
# print(df.sample(10))
df.

    나무  비료        성장률
0    A   1  54.967142
1    A   1  48.617357
2    A   1  56.476885
3    A   1  65.230299
4    A   1  47.658466
..  ..  ..        ...
115  D   3  74.015473
116  D   3  70.652882
117  D   3  59.313220
118  D   3  82.428228
119  D   3  78.519330

[120 rows x 3 columns]

In [10]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('성장률 ~ C(나무) + C(비료) + C(나무):C(비료)', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('성장률 ~ C(나무) + C(비료) + C(나무):C(비료)', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN

In [8]:
print(format(6.600012e-10, '.11f'))
print(format(1.857612e-03, '.11f'))
print(format(2.157357e-01, '.11f'))

0.00000000066
0.00185761200
0.21573570000

In [9]:
model = ols('성장률 ~ C(나무) * C(비료)', data=df).fit()
anova_table = sm.stats.anova_lm(model)
print(anova_table)

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN