[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part1/ch3/ch3_ex_type1.ipynb)

- [안내] FutureWarning은 무시해도 됨

In [124]:
# 흔히 발생하는 FutureWarning
# df['views'].fillna(min, inplace=True)  # 변경 전 (경고 발생 가능)
# df['views'] = df['views'].fillna(min)  # 변경 후 (권장 방식)

# Problem

### section 1 필터링, 최솟값, 중앙값

In [ ]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# 1. 'f5' 컬럼이 0이 아닌 데이터(행)을 구하시오.
# 2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views'컬럼의 최솟값으로 채워주세요. -> fillna
# 3. 그리고 'views'컬럼의 중앙값을 계산해 정수로 구하시오.

df = df[df['f5'] != 0]

df['views'] = df['views'].fillna(df['views'].min())

int(df['views'].median())

# 결측치 체우기 -> fillna()
# .min(), .median()

5924

### section 2 카테고리, 인덱스, 문자열 슬라이싱

In [ ]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")

# 1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오
# 2. 앞에서 구한 날짜의 일(day)값을 정수로 구하시오

df = df['subscribed'].value_counts() # .value_counts() 가장 빈도수가 많은 순으로 나열
# df.index[0]
# 문자열 슬라이싱이 필요하다
int(df.index[0][-2:]) # 가장 마지막 두 자리부터 마지막까지

17

### section 3 파생변수, 정렬, 인덱싱

In [ ]:

# 1. 결측치가 있는 데이터(행)을 제거하시오
# 2. 'views' 컬럼을 'f1'컬럼으로 나눈 값을 새로운 칼럼으로 추가하시오.
# 3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오.

import pandas as pd
df = pd.read_csv("type1_data1.csv")

df = df.dropna()
df['new'] = df['views'] / df['f1']
df.head()

# int(df.sort_values('new', ascending=False).loc[115, 'age'])
int(df[df['new'].max() == df['new']].iloc[0, 1])

22

### section 4 값 변경, 정렬, 합계

In [ ]:
# 1. 'views' 컬럼의 결측 데이터를 0으로 데체하시오.
# 2. 'views' 컬럼에서 상위 10번째 값을 구하시오.
# 3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체 하시오.
# 4. 'views' 컬럼의 전체 합을 정수로 구하시오.

import pandas as pd
df = pd.read_csv("type1_data1.csv")

df['views'] = df['views'].fillna(0)

df = df.sort_values('views', ascending=False)
val = df.iloc[9]
# or
df['views'].nlargest(10).iloc[-1]

# # df.iloc[:10, -1]
# df.iloc[:10, -1] = val.views
# df.head(11)
# # int(df['views'].sum())

9877.0

### section 5 문자열 슬라이싱, 파생변수, 평균값

In [120]:
# 1. 'f4' 컬럼 데이터에 'FJ'가 포함된 데이터를 찾으시오.
# 2. 찾은 데이터 중에서 'f2'컬럼의 평균값을 구하시오. (반올림 후 소수 둘째자리까지 계산)

import pandas as pd
df = pd.read_csv("type1_data1.csv")
# round(df[df['f4'].str.contains('FJ')].f2.mean(), 2)
# round(df[df['f4'].str[2:4] == 'FJ'].f2.mean(), 2)
df['f4'].str[-2:]

0      FJ
1      FJ
2      TJ
3      FP
4      FJ
       ..
115    TP
116    TP
117    FP
118    FP
119    FJ
Name: f4, Length: 120, dtype: object

### section 6 필터링, 분산

In [140]:
# 1. 'f3'컬럼이 gold이면서 'f2'컬럼이 2인 데이터를 찾으시오.
# 2. 찾은 데이터에서 'f1' 컬럼의 분산을 구하시오.(반올림 후 소수 둘쨰 자리까지 계산)

import pandas as pd
df = pd.read_csv("type1_data1.csv")

df = df[(df['f3'] == 'gold') & (df['f2'] == 2)]
# df.describe()
df['f1'].var().round(2)

235.43

### sectiion 7 값 변경(연산), 필터링 절댓값

In [152]:
# 1. 모든 나이(age) 에 1을 더하시오
# 2. 20대의 'views' 평균과 30대의 'views'평균의 차이의 절댓값을 구하시오. (반올림 후 소수 둘쨰 자리까지 계산)
import pandas as pd
df = pd.read_csv("type1_data1.csv")
df
df['age'] = df['age'] + 1

cond1 = df[(df['age'] >= 20) & (df['age'] < 30)]
cond2 = df[(df['age'] >= 30) & (df['age'] < 40)]

abs(cond1['views'].mean() - cond2['views'].mean()).round(2)

263.13

### section 8 시계열 데이터, 필터링, 데이터 개수

In [230]:
# 1. 'subscribed' 컬럼이 2024년 2월인 데이터를 찾으시오.
# 2. 위에서 찾은 데이터중 'f3' 컬럼이 gold인 데이터의 개수를 구하시오
import pandas as pd
df = pd.read_csv("type1_data1.csv")
df

# df[df['subscribed'].str[:7] == '2024-02']
# (df[df['subscribed'].str.contains('2024-02')].f3 == 'gold').sum()
# len(df[df['subscribed'].str.contains('2024-02') & (df['f3'] == 'gold')])
(df['subscribed'].str.contains('2024-02') & (df['f3'] == 'gold')).sum()

5

### section 9 필터링, 카테고리, 최빈값

In [42]:
# 1. 'views' 컬럼 값이 1000 이하인 데이터(결측치 제외)를 찾으시오.
# 2. 앞에서 구한 데이터 중 'f4' 컬럼의 최빈값을 구하시오
import pandas as pd
df = pd.read_csv("type1_data1.csv")
df

df['views'] = df['views'].dropna()

result = df[df['views'] <= 1000]['f4'].value_counts().reset_index().iloc[0, 0]
result = df[df['views'] <= 1000]['f4'].value_counts().index[0]

print(result)

ISFJ

### section 10 그룹핑, 최댓값, 정렬

In [70]:
# 1. 결측치가 있는 행을 삭제하시오.
# 2. 결측치가 삭제된 데이터를 사용하여 지역별(city)평균을 계산하시오.
# 3. 앞에서 계산한 지역별 평균 데이터에서 'f2 컬럼 값이 가장 큰 지역을 구하시오

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

df = df.dropna()
print(df.groupby('city').mean(numeric_only=True).f2.idxmax())

서울

### section 11 슬라이싱, 사분위수, 결측치 제거

In [80]:
# 1. 데이터에서 결측치가 있는 데이터(행)을 모두 제거하시오.
# 2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터를 구하시오. (단, 데이터 70% 지점의 index가 소수점으로계산될 경우 소수점 이하는 버림)
# 3. 앞에서 구한 70% 데이터 중 'views' 컬럼의 3사분위수에서 1사분위수를 뺸 값을 정수로 구하시오

import pandas as pd
df = pd.read_csv('type1_data1.csv')

df = df.dropna()

end = int(len(df) * 0.7)
df = df.iloc[:end]

q3 = df.views.quantile(0.75)
q1 = df.views.quantile(0.25)

print(int(q3 - q1))

2771

### section 12 결측치 처리, 최빈값, 데이터 개수

In [195]:
# 1. 결측치가 가장 많은 두 컬럼을 찾으시오.
# 2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오.
# 3. 두 번째로 결측치가많은 컬럼을 최빈값으로 대체하시오.
# 4. 'f3' 컬럼의 'gold' 값을 가진 데이터의 수를 정수형으로 구하시오.

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

df.isna().sum()
# 1. f1, 2. f3
df = df.dropna(subset='f1')
df

freq = df['f3'].mode()[0] # <- 를 가장 권장
# df['f3'].describe()['top']
# freq = df['f3'].value_counts().idxmax()
df['f3'] = df['f3'].fillna(freq)

print((df['f3'] == 'gold').sum())

63

### section 13 결측 데이터 찾기, 필터링, 평균값

In [203]:
# 1. 'f1' 컬럼에 결측치가 있는 데이터만 선택하시오.
# 2. 선택된 데이터에서 'age' 컬럼의 평균값을 구하시오 (반오릶 후 소수 첫째 자리까지 계산)

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

# 1.
cond = df[df['f1'].isna()]
cond

# 2.
cond['age'].mean().round(1)

53.6

### section 14 중복 데이터 제거, 값 변경, 데이터 개수

In [240]:
# 1. 중복 데이터를 제거하시오.
# 2. 'f3' 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환하시오.
# 3. 변환된 'f3' 컬럼의 총합을 정수형으로 구하시오

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

# 1. 중복 데이터 - drop_duplicates() | 결측 데이터 - dropna() 
df = df.drop_duplicates()

# 2.
# df['f3'] = df['f3'].fillna(0).replace('silver', 1).replace('gold', 2).replace('vip', 3)
# mapping = {'silver': 1, 'gold': 2, 'vip': 3}
# df['f3'] = df['f3'].fillna(0).map(mapping)
# df['f3'] = df['f3'].replace({'silver': 1, 'gold': 2, 'vip': 3}).fillna(0)

v1 = (df['f3'] == 'silver').sum() 
v2 = (df['f3'] == 'gold').sum() * 2 
v3 = (df['f3'] == 'vip').sum() * 3
print(v1 + v2 + v3)

# df

# 3.
# int(df['f3'].sum())

167

### section 15 컬럼 삭제, 행 단위 합계 필터링

In [277]:
# 1. 주어진 데이터에서 문자 자료형 컬럼을 삭제하시오
# 2. 숫자 자료형 컬럼의 결측치를 0으로 대체하시오.
# 3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하시오
import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

# 1 pandas에서 문자형은 object로 저장된다!!
df = df.select_dtypes(exclude='object') # exclude

# df.select_dtypes(include='object').columns # include
# df = df.drop(columns=cols)

# 2
df = df.fillna(0)

# 3
df
(df[0:].sum(axis=1) > 3000).sum()

88

### section 16 이상치, IQR

In [299]:
# 1. 'views' 컬럼의 1사분위수, 3사분위수 그리고 IQR을 계산하시오
# 2. 이상치 조건에 맞는 데이터를 찾으시오. 
# 3. 이상치 데이터의 'views' 컬럼 합을 정수로 구하시오.

import pandas as pd
df = pd.read_csv('type1_data1.csv')

q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
IQR = q3 - q1

cond1 = df[df['views'] < (q1 - IQR*1.5)]
cond2 = df[df['views'] > (q3 + IQR*1.5)]

print(int(cond1['views'].sum() + cond2['views'].sum()))

77699

### section 17 이상치, 소수점 있는 데이터 찾기, 표준 편차

In [339]:
# 1. 'views' 컬럼의 표준편차를 구하시오
# 2. 'age' 컬럼의 이상치(소수점 나이, 음수 나이, 0살)를 제거하고, 'views' 컬럼의 표준편차를 구하시오
# 3. 이상치 제거 전후의 'views' 컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

import pandas as pd
df = pd.read_csv('type1_data1.csv')

# 1
v1 = df['views'].std()

# 2 
df = df[df['age'] > 0] # 음수나이, 0살

# 소수점 나이를 반올림하는게 아닌 찾아서 제거하는게 목적!!!!!!!!!
df = df[df['age'] == round(df['age'])]
v2 = df['views'].std()

# # 3
round(v1 + v2, 2)

8297.31

### section 18 데이터(행) 기준 평균값, 인덱싱

In [365]:
# 1. index '2001' 데이터(행)에서 평균보다 큰 값의 개수를 구하시오.
# 2. index '2003' 데이터(행)에서 평균보다 작은 값의 개수를 구하시오.
# 3. 두 개수를 더하시오.

import pandas as pd
df = pd.read_csv('type1_data2.csv', index_col='year')
df = df.T
df[2001]
# (df.loc[2001] > df.loc[2001].mean()).sum() + (df.loc[2003] < df.loc[2003].mean()).sum()

# 열 선택 df['column] 
# 행 선택 df.loc[행 이름] or df.iloc[행 번호]

0      176
1       87
2       64
3      110
4      128
      ...
195    104
196    101
197    161
198    156
199     43
Name: 2001, Length: 200, dtype: int64

### section 19 결측치(뒤의 값으로 대체), 그룹합

In [439]:
# 1. 결측치를 바로 뒤에 있는 값으로 대체하시오. (바로 뒤의 값도 결측치일 경우, 뒤에있는 데이터 중 가장 가까운 값으로 대체)
# 2. 'city'와 'f2'컬럼을 기준으로 그룹합을 계산하시오.
# 3. 'views'값이 세 번쨰로 큰 city 이름을 구하시오.

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

# df = df.fillna(method='bfill')
df = df.bfill()
df

# 그룹화(groupby) 후 인덱스가 계층적(멀티 인덱스)으로 바뀌었을 때 reset index를 합시다
df = df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()
df

res = df.sort_values('views', ascending=False).iloc[2, 0]
print(res)

경기

### section 20 시계열 데이터

In [498]:
# 1. 연도 구분 없이 월별로 숫자형 컬럼의 합을 구하시오.
# 2. 합계 중 'views'가 가장 작은 값을 가진 월을 정수로 구하시오.

import pandas as pd
df = pd.read_csv('type1_data1.csv')
df['subscribed'] =  pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
df

df.groupby('month').sum(numeric_only=True).reset_index().sort_values('views').month.iloc[0]
# df.groupby('month').sum(numeric_only=True).sort_values('views').index[0]

11

### section 21  시간 간의 차이 계산(분), 필터링

In [516]:
# 1. 예상 도착 시간보다 늦게 도착한 건수를 구하시오
# 2. 이 중 거리가 7km 이상인 데이터의 수를 정수로 구하시오

import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

# 1. 예상 도착 시간보다 늦게 도착한 건수를 구하시오
cond = df[df['예상도착시간'] < df['실제도착시간']]
# df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60
# df
sum(cond['거리'] >= 7)

311

### section 22 시간 간의 차이 계산(분), 그룹핑

In [587]:
# 1. 주문 시간과 실제 도착 시간의 차이를 분 단위로 계산하시오. 
# 2. 앱 종류별로 평균 도착 시간(분)을 계산하시오.
# 3. 평균적으로 가장 빠른 앱 종류를 찾고, 해당 앱의 평균 도착 시간을 분으로 반올림하여 정수로 구하시오.
import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간']) 
df['실제도착시간'] = pd.to_datetime(df['실제도착시간']) 

df['diff'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds() / 60

df = df.groupby('앱종류').mean('diff')
int(df.sort_values('diff').iloc[0,1].round())

62

### section 23 시간 간의 차이 계산(분), 비율

In [642]:
# 1. 각 결제 종류별로 실제 도착시간이 예상 도착시간 보다 늦은 주문의 비율을 계산하시오.
# 2. 비율 중 가장 큰 값을 바놀림하여 소수 둘째 자리까지 구하시오.
import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

df['지연여부'] = df['실제도착시간'] > df['예상도착시간']
# boolean type에서의 평균 == 비율
# df.groupby('결제종류')['지연여부'].mean()
df.groupby('결제종류')['지연여부'].mean().max().round(2)

0.56

### section 24 그룹핑, 값 찾기, 필터링

In [730]:
# 1. 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제 방식을 구하시오.
# 2. 이 결제 방식 중 가장 빈도가 높은 수를 구하시오.

import pandas as pd
df = pd.read_csv('delivery_time.csv')
# cond = df.groupby('user')['거리'].sum() >= 50
cond = df.groupby('user')['거리'].sum() 
cond = cond[cond >= 50]
cond
df[df['user'].isin(cond.index)]['결제종류'].value_counts().max()

48

### 시간 간의 차이 계산(일)

In [769]:
# 1. 각 사용자별로 첫 주문과 마지막 주문사이의 시간 간격을 일 단위로 계산하시오.
# 2. 시간차가 0일인 사용자를 제외하고, 나머지 사용자들으 평균 시간 간격(일 단위)을 계산하시오.
# 3. 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 구하시오.

import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 1. 각 사용자별로 
# 첫 주문과 
# 마지막 주문사이의 
# 시간 간격을 
# 일 단위로 계산하시오.
# cond = (df.groupby('user')['주문시간'].max() - df.groupby('user')['주문시간'].min()).dt.days 
cond = (df.groupby('user')['주문시간'].max() - df.groupby('user')['주문시간'].min()).dt.total_seconds() / (3600 * 24)

# 2. 시간차가 0일인 사용자를 제외하고, 
cond = cond[cond > 0]
# # 나머지 사용자들의 평균 시간 간격(일 단위)을 계산하시오.
val = cond.mean()

# # 3. 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 구하시오.
(cond > val).sum()

146

### section 26 날짜와 시간 정보 변환, 비율

In [841]:
# 1. 주문이 가장 많이 발생한 연~월을 찾으시오.
# 2. 해당 연~울에 '배고팡' 앱을 통한 주문 중 '앱결제'로 결제된 주문의 비율을 계산하시오. (반올림 후 소수 둘쨰 자리까지 계산)
import pandas as pd
df = pd.read_csv('delivery_time.csv')
df

# 1. 주문이 가장 많이 발생한 연~월을 찾으시오.
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
index = df.value_counts('주문월').idxmax()

# 2. 해당 연~울에 
# df['주문월'].isin([index]).sum()
# '배고팡' 앱을 통한 주문 중 
cond1 = df[(df['주문월'] == index) & (df['앱종류'] == '배고팡')]
# '앱결제'로 결제된 주문의 비율을 계산하시오. (반올림 후 소수 둘쨰 자리까지 계산)
# cond2 = cond1[cond1['결제종류'] == '앱결제']
# len(cond2) / len(cond1)

# (cond1['결제종류'] == '앱결제').mean().round(2)

95

### section 27 시간 범위, 속도(km/h)

In [877]:
# 1. 점심시간(10시부터 13시 전까지)에 주문된 배달 데이터를 찾으시오.
# 2. 점심시간 주문 건 중 과속(평균속도가 50km/h 이상)하는 주문 수를 정수로 구하시오.
# 배달시간 = 실제도착시간 - 주문시간
# 속도 = 거리 / 시간

import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

# 1. 점심시간(10시부터 13시 전까지)에 주문된 배달 데이터를 찾으시오.
df = df[df['주문시간'].dt.hour.between(10,12)]

# 2. 점심시간 주문 건 중 과속(평균속도가 50km/h 이상)하는 주문 수를 정수로 구하시오.
df['배달시간'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds() / 3600
((df['거리'] / df['배달시간']) >= 50).sum()

1

### section 28 날짜와 시간, 문자열

In [905]:
# 1. 연도와 월을 기준으로 주문 수를 집계하시오
# 2. 가장 많은 주문이 있었던 연도와 월을 예시와 같은 형식으로 숫자로만 구하시오.

import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간'])

val = df['주문시간'].dt.to_period("M").value_counts().idxmax()
val = str(val).replace('-', '')
print(val)

202209

### section 29 함수, 월별 집계

In [918]:
# 1. 배달료 계산 기준표에 따라 각 주문에 대한 배달료를 계산하시오.
# 2. 월별로 배달료의 총합을 집계하시오.
# 3. 배달료가 가장 많이발생한 월을 찾고, 그 월의 총 배달료를 정수로 구하시오.
# 5키로 미만 2000원
# 5 ~ 10 4000원
# 10 ~ 15 6000원
# 15 ~ 20 8000원

import pandas as pd
df = pd.read_csv('delivery_time.csv')
df

def func1(x):
    if x < 5 : return 2000
    if (x >= 5) & (x < 10): return 4000
    if (x >= 10) & (x < 15): return 6000
    if (x >= 15) & (x < 20): return 8000

df['배달료'] = df['거리'].apply(func1)
df

# 2. 월별로 배달료의 총합을 집계하시오.
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
result = df.groupby('주문월')['배달료'].sum().max()
print(result)

448000

### section 30 주말, 평일 구분

In [938]:
# 1. 주말 주문 건수와 평일 주문 건수를 구하시오.
# 2. 주말 주문 건수와 평일 주문 건수의 차이를 절대값으로 구하고 정수형으로 구하시오.
import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간'])

weekend = df[df['주문시간'].dt.dayofweek >= 5]
weekday = df[df['주문시간'].dt.dayofweek < 5]

abs(len(weekend) - len(weekday))
# weekday.count()

412

### section 31 문자열, 형 변환

In [962]:
# 1. 'user' 컬럼에서 user 뒤에 있는 숫자 값만 추출하시오.
# 2. 추출된 숫자 값을 모두 합한 값을 정수로 구하시오
import pandas as pd
df = pd.read_csv('delivery_time.csv')
df['user'].str[5:].astype(int).sum()

261387

### section 32 합계(열 방향), 상위 값 선택

In [ ]:
# 1. 수학, 영어, 국어 점수의 합을 구하시오.
# 2. 합이 가장 큰 상위 10명을 찾으시오.
# 3. 찾은 10명의 수학 평균 점수를 구하시오.(반올림 후 정수 출력)

import pandas as pd
df = pd.read_csv('school_data.csv')

# 1. 수학, 영어, 국어 점수의 합을 구하시오.
# df['점수합'] = df[['수학', '영어', '국어']].sum(axis=1)
index = df[['수학', '영어', '국어']].sum(axis=1).sort_values(ascending=False)[:10].index
df.loc[index]['수학'].mean().round().astype(int)

82

### section 33 데이터프레임 재구조화

In [1002]:
# 1. 과목에 상관없이 점수가 가장 작은 점수 25개를 찾으시오.
# 2. 찾은 점수 25개의 합을 정수로 구하시오.

import pandas as pd
df = pd.read_csv('school_data.csv')

df.melt(id_vars=['이름'], value_vars=['국어', '수학', '영어'], var_name='과목', value_name='점수')
# pd.concat([df['국어'], df['수학'], df['영어']]).nsmallest(25).sum()

     이름  과목  점수
0   강아지  국어  26
1   고양이  국어  80
2    토끼  국어   6
3    사자  국어  14
4   호랑이  국어  75
..  ...  ..  ..
85   타조  영어  15
86  개구리  영어  27
87  펠리칸  영어  30
88  돌고래  영어  52
89    매  영어  70

[90 rows x 3 columns]

### section 34 데이터 합치기(concat)

In [3]:
# 1. 주어진 csv(파일)을 학샌 순서를 기준으로 병합하시오.(단 두파일의 학생 순서는 동일하다)
# 2. 학생별로 수학, 영어, 국어, 과학 점수의 평균을 구하시오.
# 3. 평균 점수가 60점 이상인 인원 수를 계산하시오.
import pandas as pd
df = pd.read_csv('school_data.csv')
df_s = pd.read_csv('school_data_science.csv')

# df = pd.concat([df, df_s], axis=1)
df = pd.merge(df, df_s, on='이름')
df
# df['평균점수'] = 
res = (df[['국어', '수학', '영어', '과학']].mean(axis=1) >= 60).sum()
print(res)

9

### section 35 데이터합치기(merge)

In [1037]:
# 1. 두 파일을 '이름'을 기준으로 합치시오
# 2. 영어교사가 장선생이면서 사회교사가 오선생인 학생들을 필터링하시오.
# 3. 필터링된 학생들의 수학 점수를 모두 더한 후 정수로 구하시오.
import pandas as pd
df = pd.read_csv('school_data.csv')
df_s = pd.read_csv('school_data_social.csv')

df = pd.merge(df, df_s, on='이름')
cond = (df['영어교사'] == '장선생') & (df['사회교사'] == '오선생')
df[cond]['수학'].sum()

602

### section 36 조건별 변환 (transform)

In [18]:
# 1. 결측된 판매금액은 해당 지역의 평균 판매금액으로 결측값을 대체하시오.
# 2. 각 거래마다 '판매금액'과 해당 지역의 평균 판매금액의 '차이'를 절대값으로 구하시오.
# 3. 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드를 구하시오.
import pandas as pd
df = pd.read_csv('sales.csv')
df

# 1. 결측된 판매금액은 
# 해당 지역의 평균 판매금액으로 
# 결측값을 대체하시오.
val = df.groupby('지역코드')['판매금액'].transform('mean')
df['판매금액'] = df['판매금액'].fillna(val)
df

# 2. 각 거래마다 '판매금액'과 해당 지역의 평균 판매금액의 '차이'를 절대값으로 구하시오.
df['편차'] = abs(df['판매금액'] - val)
df
# 3. 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드를 구하시오.
df.groupby('지역코드')['편차'].mean().idxmax()

103

### section 37 재구조화(unstack), 맵핑

In [ ]:
# 1. 각 행에서 판매수량과 단가를 이용하여 매출액을 계산하시오.
# 2. 요일을 평일과 주말로 구분하고, 매장별 평일과 주말 매출액 합계를 구하시오.
# 3. 매장별 평일과 주말 매출액 차이를 절대값으로 구하시오. 이후, 모든 매장 중 가장 큰 절대값 차이를 찾으시오.

import pandas as pd
df = pd.read_csv('store_sales.csv')
df['매출액'] = df['판매수량'] * df['단가']

def func(x):
    if x == ('토'): return '주말'
    if x == ('일'): return '주말'
    else : return '평일'

df['요일'] = df['요일'].apply(func)

df
cond = df.groupby(['매장코드', '요일'])['매출액'].sum()
# abs(cond[:,'주말'] - cond[:,'평일']).max()

# cond = cond.unstack()
# abs(cond['평일'] - cond['주말']).max()

241975

# Solution

### Section1.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 0 제외
cond = df['f5'] != 0
df = df[cond]

# 'views' 컬럼 결측치 최소값으로 채우기
min = df['views'].min()
df['views'].fillna(min, inplace=True)

# 'views' 컬럼 중앙값 계산
print(int(df['views'].median()))

:

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 0 제외
cond = df['f5'] != 0
df = df[cond]

# 'views' 컬럼 결측치 최소값으로 채우기
min = df['views'].min()
df['views'] = df['views'].fillna(min)

# 'views' 컬럼 중앙값 계산
print(int(df['views'].median()))

### Section2.

In [ ]:
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# subscribed 종류 중 가장 많은 날짜 구하기
df = df['subscribed'].value_counts()

# 일(day)값을 찾고, 정수형으로 변경
int(df.index[0][-2:])

### Section3.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치 제거
df = df.dropna()

# 새로운 컬럼 계산
df['new'] = df['views']/df['f1']

# 내림차순 정렬
df = df.sort_values('new', ascending=False)

# age 값 찾아서 출력
int(df.iloc[0,1])

### Section4.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'].fillna(0, inplace=True)

# 내림차순 정렬
df = df.sort_values('views',ascending=False)

# views 상위 10개 데이터에 최소값 대입
views_min = df.iloc[:10]['views'].min()
df.iloc[:10, -1] = views_min

# views 컬럼의 합
print(int(df['views'].sum()))

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'] = df['views'].fillna(0)

# 내림차순 정렬
df = df.sort_values('views',ascending=False)

# views 상위 10개 데이터에 최소값 대입
views_min = df.iloc[:10]['views'].min()
df.iloc[:10, -1] = views_min

# views 컬럼의 합
print(int(df['views'].sum()))

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'].fillna(0, inplace=True)

# views 컬럼에서 10번째로 큰 값을 구합니다.
value = df['views'].nlargest(10).iloc[-1]

# views 컬럼에서 가장 큰 10개의 값을 10번째로 큰 값으로 대체
df.loc[df['views'] > value, 'views'] = value

# views 컬럼의 합
print(int(df['views'].sum()))

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'] = df['views'].fillna(0)

# views 컬럼에서 10번째로 큰 값을 구합니다.
value = df['views'].nlargest(10).iloc[-1]

# views 컬럼에서 가장 큰 10개의 값을 10번째로 큰 값으로 대체
df.loc[df['views'] > value, 'views'] = value

# views 컬럼의 합
print(int(df['views'].sum()))

### Section5.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# f4 컬럼에서 뒤에 2개 값 슬라이싱
df['new'] = df['f4'].str[2:4]

# FJ인 데이터 찾기
cond = df['new'] == 'FJ'
df = df[cond]

# f2 평균 구하기
print(round(df['f2'].mean(), 2))

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# FJ인 데이터 찾기
cond = df['f4'].str.contains('FJ')
df = df[cond]

# f2 평균 구하기
print(round(df['f2'].mean(), 2))

### Section6.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 조건에 맞는 데이터
cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2
df = df[cond1 & cond2]

# 분산
result = df['f1'].var()

# 출력
print(round(result,2))

### Section7.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 나이 + 1
df['age'] = df['age'] + 1

# 20대, 30대 조건
cond1 = (df['age'] >= 20) & (df['age'] < 30)
cond2 = (df['age'] >= 30) & (df['age'] < 40)

# 30대 views
result = abs(df[cond1]['views'].mean() - df[cond2]['views'].mean())

print(round(result,2))

### Section8.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형 변환
df['subscribed'] = pd.to_datetime(df['subscribed'])
# df['subscribed'] = pd.to_datetime(df['subscribed'], format="%Y-%m-%d") # format 사용

# 파생변수 생성 (년, 월)
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

# 2024년 2월이고, 'f3'이 gold인 데이터
cond1 = df['year'] == 2024
cond2 = df['month'] == 2
cond3 = df['f3'] == 'gold'
df = df[cond1 & cond2 & cond3]

# 데이터 개수
print(len(df))

### Section9.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# views수가 1000이하
cond = df['views'] <= 1000
df = df[cond]

# f4컬럼 종류별 개수
df = df['f4'].value_counts()

# f4컬럼 최빈값
print(df.index[0])

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# views수가 1000이하
cond = df['views'] <= 1000
df = df[cond]

# f4컬럼 종류별 개수
print(df['f4'].mode()[0])

### Section10.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행은 삭제하고
df.dropna(inplace=True)

# 지역별 평균 계산
df = df.groupby(['city']).mean(numeric_only=True) # 시험환경은 mean() 사용

# 'f2'컬럼이 가장 큰 지역 출력
print(df.sort_values("f2", ascending = False).index[0])

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행은 삭제하고
df.dropna(inplace=True)

# 지역별 평균 계산
df = df.groupby('city').mean(numeric_only=True) # 시험환경은 mean() 사용

# 'f2'컬럼이 가장 큰 지역 출력
print(df['f2'].idxmax())

### Section11.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행 제거
df.dropna(inplace=True)

# 70% 지점
end = int(len(df) * 0.7)

# 70% 데이터 슬라이싱
df = df.iloc[:end]

# 3사분위수, 1사분위수
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

# 결과 출력
print(int(q3 - q1))

### Section12.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼, 출력 결과로 확인
#print(df.isnull().sum())

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=['f1'])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'].fillna(freq, inplace=True)

# f3컬럼이 gold인 데이터의 수
print(sum(df['f3'] == 'gold'))

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼, 출력 결과로 확인
#print(df.isnull().sum())

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=['f1'])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3컬럼이 gold인 데이터의 수
print(sum(df['f3'] == 'gold'))

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼
col = df.isnull().sum().idxmax()

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=[col])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3컬럼이 gold인 데이터의 수
print(len(df[df['f3'] == 'gold']))

### Section13.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 데이터 True / False
cond = df['f1'].isnull()

# 결측치가 있는 데이터 선택
df = df[cond]

# age의 평균값을 구하시오
result = df['age'].mean()

# 소수 첫째자리 까지 출력
print(round(result, 1))

### Section14.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 중복데이터 제거
df.drop_duplicates(inplace=True)

# 값 대체
import numpy as np
df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

# f3컬럼의 총합 (정수형으로 출력)
print(int(df['f3'].sum()))

In [ ]:
# 방법2
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 중복데이터 제거
df.drop_duplicates(inplace=True)

# 계산
r1 = sum(df['f3'] == 'silver') * 1
r2 = sum(df['f3'] == 'gold') * 2
r3 = sum(df['f3'] == 'vip') * 3
print(r1 + r2 + r3)

### Section15.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형이 object 컬럼 선택
cols = df.select_dtypes(exclude='object').columns
df = df[cols]

# 결측치 0으로 대체
df = df.fillna(0)

# 행과 열 변경
df = df.T

# 행별 합이 3000이상인 데이터 수
print(sum(df.sum() > 3000))

### Section16.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 3사분위 1사분위
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

# IQR 계산
IQR = q3 - q1

# 이상치 기준 찾기
line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR

# 이상치 조건에 만족하는 데이터 찾기
cond1 = df['views'] < line1
cond2 = df['views'] > line2
df = df[cond1 | cond2]

# views 컬럼 합
print(int(df['views'].sum()))

### Section17.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 표준편차
r1 = df['views'].std()

# 음수이거나 0 테이터 제외
cond = df['age'] <= 0
df = df[~cond]

# 소수점이 없는 값만 선택
cond = df['age'] == round(df['age'],0)
df = df[cond]

# 표준편차
r2 = df['views'].std()

print(round(r1 + r2, 2))

### Section18.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")

# 2001, 평균보다 큰값 합계
m1 = df.loc[2001].mean()
cond1 = df.loc[2001] > m1
r1 = sum(cond1)

# 2003평균보다 작은값 합계
m2 = df.loc[2003].mean()
cond2 = df.loc[2003] < m2
r2 = sum(cond2)

print(r1+r2)

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")
df = df.T # 행과 열 변경

# 평균보다 큰값 합계
m1 = df[2001].mean()
cond1 = df[2001] > m1
r1 = sum(cond1)

# 평균보다 작은값 합계
m2 = df[2003].mean()
cond2 = df[2003] < m2
r2 = sum(cond2)

print(r1+r2)

### Section19.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치 채우기
df = df.fillna(method='bfill')

# city와 f2기준 그룹합 계산
df = df.groupby(['city','f2']).sum(numeric_only=True).reset_index()

# 내림차순 정렬
df = df.sort_values('views', ascending=False)

# 3번째로 큰 값 출력
print(df.iloc[2,0])

### Section20.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형 변환
df['subscribed'] = pd.to_datetime(df['subscribed'])

# 파생변수 생성
df['month'] = df['subscribed'].dt.month

# 월별로 데이터 합 집계
df = df.groupby('month').sum(numeric_only=True)

# 오름차순 정렬 및 가장 작은값 출력
print(df.sort_values('views').index[0])

### Section21.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime으로 자료형 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

# 지연시간 계산(분)
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60

# 조건1 - 예상 도착시간보다 늦게 도착한 건
cond1 = df['지연시간'] > 0

# 조건2 - 거리가 7 이상인 건
cond2 = df['거리'] >= 7

# 조건에 맞는 데이터(행) 수 출력
print(len(df[cond1 & cond2]))

### Section22.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime으로 자료형 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 실제 도착시간과 주문시간 차이 계산(분)
df['diff'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60

# 앱종류별 도착시간과 주문시간 차이의 평균 계산
df = df.groupby('앱종류')['diff'].mean()

# 가장 작은 시간(분) 반올림 후 출력
print(round(df.min()))

### Section23.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime 자료형으로 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

# 지연시간 계산(분)
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds() / 60  # 분 단위로 계산

# 실제 도착시간이 예상 도착시간보다 늦은 경우를 체크하는 컬럼 생성
df['지연여부'] = df['지연시간'] > 0

# 결제 종류별 지연된 주문의 비율 계산
result = df.groupby('결제종류')['지연여부'].mean()

# 가장 비율이 높은 값
print(round(result.max(), 2))

### Section24.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df.head()

# 사용자별로 주문 거리의 합계와 평균 계산
df_distance = df.groupby('user')['거리'].sum()

# 주문 거리의 합계가 50km 이상인 사용자만 필터링
cond = df_distance >= 50
df_distance = df_distance[cond]

# 주문 거리의 합계가 50km 이상인 사용자들의 데이터 필터링
filtered_data = df[df['user'].isin(df_distance.index)]
filtered_data

# 해당 사용자들의 선호 결제 방식 중 큰 값
payment_method = filtered_data['결제종류'].value_counts()
print(payment_method[0])

### Section25.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격(일 단위)을 계산
df['주문시간'] = pd.to_datetime(df['주문시간'])
min_order_time = df.groupby('user')['주문시간'].min()
max_order_time = df.groupby('user')['주문시간'].max()
time_interval = (max_order_time - min_order_time).dt.days

# 1회 이하 주문 제외
cond1 = time_interval>0
m = time_interval[cond1].mean()

# 평균보다 기간이 긴 유저 수
cond2 = time_interval > m
print(len(time_interval[cond2]))

### Section26.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 주문이 가장 많이 발생한 연-월 찾기
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
year_month = df['주문월'].value_counts().idxmax()

# 해당 연-월에 배고팡 앱을 통한 주문 중, '앱결제'로 결제된 주문의 비율 계산
cond1 = df['주문월'] == year_month
cond2 = df['앱종류'] == '배고팡'
filtered_df = df[cond1 & cond2]
cond3 = filtered_df['결제종류'] == '앱결제'
result = len(filtered_df[cond3])/len(filtered_df)
print(round(result,2))

### Section27.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime 자료형으로 변경
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

# 점심시간 주문 선택
df['시간'] = df['주문시간'].dt.hour
cond1 = df['시간'] >= 10
cond2 = df['시간'] < 13
df = df[cond1 & cond2]

# 속도(km/h) = 거리(km) / 시간(h)
df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds() / 60 / 60 # 시간 단위로 변경
df['속도'] = df['거리'] / df['배달시간']
sum(df['속도'] >= 50)

### Section28.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 주문 연월 추출 (연도-월)
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')

# 주문월을 기준으로 빈도 수(주문 횟수) 계산
count_month = df.groupby('주문월').size()

# 주문 횟수가 가장 많은 월의 인덱스 추출
year_month = count_month.idxmax()

# 문자열로 변경 및 하이픈(-) 제거
year_month = str(year_month)
result = year_month.replace("-","")
print(result)

### Section29.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 배달료 계산 함수 정의
def delivery_fee(distance):
    if distance < 5:
        return 2000
    elif distance < 10:
        return 4000
    elif distance < 15:
        return 6000
    elif distance < 20:
        return 8000

# 각 주문에 대한 배달료 계산
df['배달료'] = df['거리'].apply(delivery_fee)

# 월별로 배달료 집계
df['주문시간'] = pd.to_datetime(df['주문시간'])
period_M = df['주문시간'].dt.to_period("M")
monthly = df.groupby(period_M)['배달료'].sum()

# 가장 많은 배달료가 발생한 월과 그 월의 총 배달료 찾기
max_fee_month = monthly.idxmax()
max_fee_value = monthly[max_fee_month]
print(max_fee_value)

### Section30.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 주말/평일 구분 0:월, 1:화 ~ 5:토, 6:일
df['dayofweek'] = df['주문시간'].dt.dayofweek
df['주말'] = df['dayofweek'] >= 5

# 주말 개수, 평일 개수 계산
weekend = sum(df['주말'])
weekday = sum(~df['주말'])

# 차이 절대값 출력
print(abs(weekend - weekday))

### Section31.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 문자 슬라이싱
df['user_int'] = df['user'].str[5:]

# 자료형 변환
df['user_int'] = df['user_int'].astype(int)

# 합계
print(df['user_int'].sum())

### Section32.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")

# 수학, 영어, 국어 점수 합계
df['total_score'] = df[['수학', '영어', '국어']].sum(axis=1)

# 합계 점수를 기준으로 상위 10명 선택
top10 = df.nlargest(10, 'total_score')

# 선택된 10명의 수학 평균 점수 계산
result = top10['수학'].mean()
print(round(result))

### Section33.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")

# 이름을 유지하면서 수학, 영어, 국어 형태 변경
melted_df = df.melt(id_vars=['이름'], value_vars=['수학', '영어', '국어'])

# 가장 작은 값 25개의 합
result = melted_df['value'].nsmallest(25).sum()
print(result)

### Section34.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_science = pd.read_csv("school_data_science.csv")
df_science = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_science.csv")

# 두 데이터프레임 합치기(axis=1)
df = pd.concat([df, df_science], axis=1)

# 수평(열)으로 평균 계산
df['수영국과 평균'] = df[['수학', '영어', '국어', '과학']].mean(axis=1)

# 수학, 영어, 국어, 과학 평균이 60점 이상
result = sum(df['수영국과 평균'] >= 60)
print(result)

### Section35.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_social = pd.read_csv("school_data_social.csv")
df_social = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_social.csv")

# '이름'을 기준으로 두 데이터프레임 합치기
merged_df = pd.merge(df, df_social, on='이름')

# 교사 필터링
cond1 = merged_df['영어교사'] == '장선생'
cond2 = merged_df['사회교사'] == '오선생'

# 필터링된 데이터에서 수학점수 합
result = merged_df[cond1 & cond2]['수학'].sum()
print(result)

### Section36.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/sales.csv")

# 지역별 평균 판매금액 계산 후, 결측값 대체 (transform 사용)
m = df.groupby('지역코드')['판매금액'].transform('mean')
df['판매금액'] = df['판매금액'].fillna(m)

# 각 거래별 해당 지역의 평균 판매금액 구하기
df['지역평균'] = df.groupby('지역코드')['판매금액'].transform('mean')

# 판매금액과 지역평균의 차이(절대값) 계산하여 새로운 컬럼 생성
df['차이'] = abs(df['판매금액'] - df['지역평균'])

# 지역별 차이 평균 계산 후, 최대값을 가지는 지역코드 출력
result = df.groupby('지역코드')['차이'].mean().idxmax()
print(result)

### Section37.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/store_sales.csv")

# 매출액 계산
df['매출액'] = df['판매수량'] * df['단가']

# 요일별 평일/주말 구분 딕셔너리
day_mapping = {'월': '평일', '화': '평일', '수': '평일', '목': '평일', '금': '평일',
               '토': '주말', '일': '주말'}

# 매핑을 활용하여 새로운 열 추가
df['구분'] = df['요일'].map(day_mapping)

# 매장코드 & 평일/주말별 매출액 합계
store_sales = df.groupby(['매장코드', '구분'])['매출액'].sum().unstack()

# 평일과 주말 매출액 차이 계산
store_sales['차이'] = abs(store_sales['평일'] - store_sales['주말'])

# 전체 매장 중 매출액 편차가 가장 큰 매장의 편차 값 찾기
store_sales['차이'].max()

### Section38.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/region_sales.csv")

# 피벗 테이블 생성: Region, Channel별로 Product별 Sales 합계 계산
pivot_table = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product',
                             values='Sales', aggfunc='sum')

# A비율 계산: 제품 A의 판매액 ÷ 총매출
pivot_table['총매출'] = pivot_table['A'] + pivot_table['B']
pivot_table['A비율'] = pivot_table['A'] / pivot_table['총매출']

# 최대 A비율 값 출력
result = pivot_table['A비율'].max()
round(result, 2)

### Section39.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/monthly_sales.csv')

# melt로 Wide(가로) → Long(세로) 변환
melted_df = pd.melt(
    df,
    id_vars='Region',
    value_vars=['Jan','Feb','Mar'],
    var_name='Month',
    value_name='Sales'
)

# Region, Month별 매출 합계 구하기
grouped_sales = melted_df.groupby(['Region', 'Month'])['Sales'].sum().reset_index()

# 매출 합계가 1400을 초과하는 건수
cond = grouped_sales['Sales'] > 1400
len(grouped_sales[cond])