In [2]:
import pandas as pd

In [3]:
# axis 행은 0 열은 1
price = pd.Series([2000, 3000, 4000, 5000])
price

0    2000
1    3000
2    4000
3    5000
dtype: int64

In [5]:
df = pd.DataFrame({
    "메뉴": ["아메리카노", "카페라떼", "카푸치노", "에스프레소"],
    "가격": [2000, 3000, 4000, 5000]
})

In [7]:
df[['메뉴']]

      메뉴
0  아메리카노
1   카페라떼
2   카푸치노
3  에스프레소

In [8]:
df.to_csv('temp.csv')

In [9]:
temp_df = pd.read_csv('temp.csv')

In [16]:
# index 제거는 필수
df.to_csv('menu.csv', index=False)